backend web_servers
    balance roundrobin
    cookie SERVERID insert indirect nocache
    {% for host in groups.webservers %}
    server {{ host }} {{ host }}:{{ hostvars[host].http_port }} check cookie {{ host }}
{% endfor %}

